@import "./global";

*, input {
  font-family: $font-family;
}

img {
  width: 150px;
  height: 150px;
}

h1, img {
  margin: 60px auto 0;
  margin-bottom: 60px;
}

#link {
  margin: 30px auto 0;
}

h1, #link {
  max-width: 450px;
  width: 100%;
}

h1, #link, img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  label {
    font-size: 14px;
    color: #444;
    font-weight: bold;
    margin-bottom: 8px;
    span {
      font-weight: normal;
      color: #999;
      font-size: 12px;
    }
  }
  input {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 45px;
    padding: 0 15px;
    font-size: 16px;
  }
  button {
    border: 0;
    border-radius: 6px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: $primary-color;
    color: #fff;
    cursor: pointer;
  }
  .button:hover {
    background: $secondary-color;
  }
}